<!--

=====


Hello, it's me, Corey, aka FloraSora!

This is my Art and Fullstack Developer portfolio website. It's still currently under construction.


=====


Here's a changelog (OLDEST TO NEWEST):

* May 2022 -- 
    Finally got the site running on DigitalOcean using a Django Framework. The pages aren't linked
    and every thumbnail leads to a 404. Yes, I HAVE been applying to jobs using this as my homepage. NO,
    I haven't received any job offers! Sigh. I understand it, but I still wallow in self-pity over it.


* June 2nd 2022 (Morning)--
    Pre-emptive date. Hoping that I'm able to push these MAJOR changes I've made to the 
    website today! I changed the portfolio-single.html template quite a bit to suit my unique needs
    for an ART-focused website. Additionally, I added more elements to the navbar, and removed the
    terribly ugly "website is currently under construction" tagline from the top of the page.

    I have to say, I definitely feel more confident with Django than I did just a week ago.

    Future issues to work out: Code project highlighting. I need to design different pages for my code
    projects. I want to show live code examples, I want to show videos of the projects in action. 
    I want several sections where I can describe the projects. ALL that! It won't be easy, but I
    know that when I get it done, it's going to be spectacular. 

    Additionally, I need to start using BLOCKS so I don't have to copy/paste (and then painstakingly
    edit) all these re-used code sections. It's a pain doing this. Right now this site is using NO
    BLOCKS. Ugh.


* June 3rd 2022 --
    Much work was done yesterday. I was able to finally get static files and media files to work by
    editing urls.py in the primary project folder. I also added in some code projects! Nice! 

    The "coming soon" page is now currently not in use... but I'm sure I'll find a use for it soon.
    Excited!


=====


Thanks for checking out my portfolio.

I give credits for the base theme to "nK"/"unvab." It has been heavily edited to suit my needs,
    but much of the legwork done in JS and CSS was done by nK/unvab.

    
Original Template Name: Snow - Minimal & Clean Portfolio
    Version: 1.0.1 || Author: nK, unvab || Copyright 2017.
    Website: https://nkdev.info, http://unvab.com/

    
=====


-->